<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="system.web" type="System.Web.Configuration.SystemWebSectionGroup, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="pxaccess" type="PX.Data.PXAccessSection, PX.Data"/>
      <section name="pxdatabase" type="PX.Data.PXDatabaseSection, PX.Data"/>
      <section name="pxtrace" type="PX.Data.PXTraceSection, PX.Data"/>
      <section name="pxtranslate" type="PX.Data.PXTranslationSection, PX.Data"/>
      <section name="basicAuth" type="PX.Export.Authentication.BasicAuthenticationSection, PX.Export"/>
      <section name="formsAuth" type="PX.Export.Authentication.FormsAuthenticationSection, PX.Export"/>
      <section name="multiAuth" type="PX.Export.Authentication.AuthenticationManagerSection, PX.Export"/>
      <section name="webDAV" type="PX.Export.WebDAV.WebDAVSection, PX.Export"/>
      <section name="activeDirectory" type="PX.Data.Access.ActiveDirectorySection, PX.Data"/>
      <section name="attachments" type="PX.Data.EP.DynamicAttachmentSection, PX.Data"/>
      <section name="odata" type="PX.Api.OData.ODataConfigurationSection, PX.Api.OData"/>
      <section name="fullTrustAssemblies" type="System.Web.Configuration.FullTrustAssembliesSection, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" allowDefinition="MachineToApplication"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="ProjectX"/>
    <add name="ProjectX" providerName="System.Data.SqlClient" connectionString="Data Source=ALYSA-PC;Initial Catalog=RabitByte;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="True"/>
    <add key="Version" value="18.112.0019"/>
    <add key="DefaultWikiCSS" value="App_Themes\Wiki.css"/>
    <add key="ReminderVisible" value="false"/>
    <add key="ReminderRequestPeriod" value="60"/>
    <add key="ReminderActiveMode" value="false"/>
    <add key="aspnet:IgnoreFormActionAttribute" value="true"/>
    <add key="FilesPath" value="~/Files"/>
    <add key="AutoUpdate" value="True"/>
    <add key="ChartImageHandler" value="Storage=session;Timeout=20;"/>
    <add key="EnableFirstChanceExceptionsLogging" value="False"/>
    <add key="FirstChanceExceptionsLogFileName" value="firstchanceexceptions.log"/>
    <add key="AutoRenewal" value="False"/>
    <add key="CustomizationTempFilesPath" value="D:\ANDREW\Customization\RabitByte"/>
    <add key="SnapshotsFolder" value="D:\ANDREW\Snapshots\RabitByte"/>
    <add key="BackupFolder" value="D:\ANDREW\BackUp\Sites\RabitByte"/>
  </appSettings>
  <location inheritInChildApplications="false">
    <system.web>
      <machineKey validationKey="13A77258810C978CA884CEE681F2BB9CD7559C49455104EEA771BC165E5A76191C674E8EF4CD2705C700E209AAB1E5D32570B648A8C7559326DBCA6CBAFAAE9D" decryptionKey="5C67F7E44C9D8D94D49241DAB531FF18E434B3EC7D2D3436" validation="SHA1"/>
      <securityPolicy>
        <trustLevel name="ProjectX" policyFile="web_project_x.config"/>
      </securityPolicy>
      <trust level="Full" originUrl=""/>
      <fullTrustAssemblies/>
      <pxdatabase defaultProvider="PXSqlDatabaseProvider">
        <providers>
          <remove name="PXSqlDatabaseProvider"/>
          <add name="PXSqlDatabaseProvider" type="PX.Data.PXSqlDatabaseProvider, PX.Data" connectionStringName="ProjectX" companyID="" secureCompanyID="False"/>
        </providers>
      </pxdatabase>
      <pxaccess defaultProvider="PXDatabaseAccessProvider">
        <providers>
          <remove name="PXDatabaseAccessProvider"/>
          <add name="PXDatabaseAccessProvider" type="PX.Data.PXDBFeatureAccessProvider, PX.Data" applicationName="/" administratorRole="Administrator"/>
        </providers>
      </pxaccess>
      <pxtrace>
        <providers>
          <remove name="PXSessionTraceProvider"/>
          <add name="PXSessionTraceProvider" type="PX.Data.PXSessionTraceProvider, PX.Data"/>
          <!--<add name="PXFileTraceProvider" type="PX.Data.PXSessionTraceProvider, PX.Data" />-->
        </providers>
      </pxtrace>
      <pxtranslate defaultProvider="PXDBTranslatonProvider">
        <providers>
          <remove name="PXDBTranslatonProvider"/>
          <add name="PXDBTranslatonProvider" type="PX.Data.PXDBTranslatonProvider, PX.Data"/>
        </providers>
      </pxtranslate>
      <odata>
        <cors enabled="true" origins="*" methods="*" headers="*" exposedHeaders="DataServiceVersion,MaxDataServiceVersion,OData-Version,OData-MaxVersion"/>
      </odata>
      <activeDirectory enabled="false" path="" user="" password=""/>
      <roleManager enabled="true" defaultProvider="PXActiveDirectorySyncRoleProvider" cacheRolesInCookie="false">
        <providers>
          <remove name="PXActiveDirectorySyncRoleProvider"/>
          <remove name="MySQLRoleProvider"/>
          <add applicationName="/" name="PXActiveDirectorySyncRoleProvider" type="PX.Data.PXActiveDirectorySyncRoleProvider" mainProviderType="PX.Data.PXDatabaseRoleProvider"/>
        </providers>
      </roleManager>
      <membership defaultProvider="PXActiveDirectorySyncMembershipProvider">
        <providers>
          <remove name="PXActiveDirectorySyncMembershipProvider"/>
          <remove name="MySQLMembershipProvider"/>
          <add name="PXActiveDirectorySyncMembershipProvider" type="PX.Data.PXActiveDirectorySyncMembershipProvider, PX.Data" mainProviderType="PX.Data.PXDatabaseMembershipProvider" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
        </providers>
      </membership>
      <siteMap enabled="true" defaultProvider="PXDatabaseSiteMapProvider">
        <providers>
          <remove name="PXWikiProvider"/>
          <remove name="PXDatabaseSiteMapProvider"/>
          <remove name="PXOuterSiteMapProvider"/>
          <add name="PXDatabaseSiteMapProvider" type="PX.Data.PXDatabaseSiteMapProvider, PX.Data" securityTrimmingEnabled="true" table="PX.SM.SiteMap"/>
          <add name="PXWikiProvider" type="PX.Data.PXWikiProvider, PX.Data" securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>
      <webDAV>
        <locations>
          <add path="/" requireSSL="false"/>
          <add path="/Files" requireSSL="true"/>
        </locations>
      </webDAV>
      <globalization culture="en-US" uiCulture="en-US"/>
      <!--<authentication mode="Forms">
      <forms loginUrl="./Frames/Login.aspx" />
    </authentication>-->
      <formsAuth loginUrl="Frames/Login.aspx" timeout="60"/>
      <multiAuth>
        <locations>
          <clear/>
          <add path="/">
            <providers>
              <add name="forms" type="PX.Export.Authentication.BrowserAuthenticationModule, PX.Export"/>
              <add name="basic" type="PX.SM.PXBasicAuthenticationModule, PX.Data"/>
            </providers>
          </add>
          <add path="/Files">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="basic" type="PX.SM.PXBasicAuthenticationModule, PX.Data"/>
            </providers>
          </add>
          <add path="/Api">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/rest/">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Soap">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/odata">
            <providers>
              <add name="odatabasic" type="PX.Api.OData.Auth.BasicAuthenticationModule, PX.Api.OData"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Export">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="basic" type="PX.SM.PXBasicAuthenticationWithoutCompanyModule, PX.Data"/>
            </providers>
          </add>
          <add path="/calendarSync.ics">
            <providers>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Images">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/App_Themes">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Icons">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/App_Themes/GetCSS.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Frames/PasswordRemind.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Frames/LoginRemind.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Frames/Error.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Frames/Maintenance.aspx">
            <providers>
              <add name="coockie" type="PX.Export.Authentication.CoockieAuthenticationModule, PX.Export"/>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
          <add path="/Handlers">
            <providers>
              <add name="anonymous" type="PX.Export.Authentication.AnonymousAuthenticationModule, PX.Export"/>
            </providers>
          </add>
        </locations>
      </multiAuth>
      <authentication mode="None"/>
      <basicAuth>
        <locations>
          <add path="/Files" requireSSL="true" realm="files_realm"/>
        </locations>
      </basicAuth>
      <authorization>
        <!--<allow roles="Administrator"/>-->
        <deny users="?"/>
      </authorization>
      <trace enabled="false" localOnly="true" traceMode="SortByCategory" pageOutput="false"/>
      <sessionState cookieless="UseCookies" mode="Custom" customProvider="PXSessionStateStore" timeout="60" sessionIDManagerType="PX.Owin.SessionIdManager, PX.Owin">
        <providers>
          <remove name="PXSessionStateStore"/>
          <add name="PXSessionStateStore" type="PX.Data.PXSessionStateStore, PX.Data" ignoreUrl="~/Frames/Menu.aspx,~/Frames/GetFile.ashx"/>
        </providers>
      </sessionState>
      <customErrors mode="Off"/>
      <webParts>
        <personalization>
          <authorization>
            <allow verbs="enterSharedScope" users="admin"/>
          </authorization>
        </personalization>
      </webParts>
      <pages styleSheetTheme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <add tagPrefix="px" assembly="PX.Web.UI" namespace="PX.Web.UI"/>
          <add tagPrefix="pxa" assembly="PX.Web.Controls" namespace="PX.Web.Controls"/>
          <add tagPrefix="pxd" assembly="PX.Dashboards.Widgets" namespace="PX.Dashboards.Widgets"/>
          <add tagPrefix="px_tehc" tagName="PXTasksAndEventsNavPanelHostControl" src="~/Controls/PXTasksAndEventsNavPanelHostControl.ascx"/>
          <add tagPrefix="px_pt" tagName="PageTitle" src="~/Controls/PageTitle.ascx"/>
          <add tagPrefix="px_pf" tagName="PageFooter" src="~/Controls/PageFooter.ascx"/>
          <add tagPrefix="px_log" tagName="Login" src="~/Controls/Login.ascx"/>
          <add tagPrefix="px_srch" tagName="Search" src="~/Controls/Search.ascx"/>
          <add tagPrefix="px_srchsp" tagName="SearchSP" src="~/Controls/SearchSP.ascx"/>
          <add tagPrefix="px_pswd" tagName="PasswordRemind" src="~/Controls/PasswordRemind.ascx"/>
          <add tagPrefix="px_logrecov" tagName="LoginRemind" src="~/Controls/LoginRemind.ascx"/>
          <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        </controls>
      </pages>
      <webServices>
        <soapExtensionTypes>
          <add type="PX.Api.Soap.Screen.TransformClassExtension, PX.Data" priority="1" group="0"/>
        </soapExtensionTypes>
        <wsdlHelpGenerator href="Frames/WsdlHelp.aspx"/>
      </webServices>
      <httpRuntime executionTimeout="300" requestValidationMode="2.0" maxRequestLength="1048576"/>
      <attachments>
        <handlers>
          <add type="report" handler="PX.Data.Reports.ReportHandler"/>
        </handlers>
      </attachments>
      <identity impersonate="False"/>
    </system.web>
    <system.codedom>
      <compilers>
        <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v4.0"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
        <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
          <providerOption name="CompilerVersion" value="v4.0"/>
          <providerOption name="OptionInfer" value="true"/>
          <providerOption name="WarnAsError" value="false"/>
        </compiler>
      </compilers>
    </system.codedom>
  </location>
  <system.web>
    <compilation debug="True" defaultLanguage="c#" numRecompilesBeforeAppRestart="9999" targetFramework="4.7.1">
      <!--<codeSubDirectories>
        <add directoryName="Caches"/>
        -->
      <!--<add directoryName="Graphs" />-->
      <!--
      </codeSubDirectories>-->
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Collections, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <!--add extension=".api" type="PX.Api.ApiBuildProvider, PX.Objects"/-->
        <add extension=".name" type="PX.Web.UI.PXCodeNameProvider, PX.Web.UI"/>
      </buildProviders>
    </compilation>
  </system.web>
  <location path="Images">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/GetCSS.aspx">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="App_Themes/Default/Images">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Api">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="odata">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Soap">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Export">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Files">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Frames/PasswordRemind.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Frames/LoginRemind.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Frames/Error.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Frames/Maintenance.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="calendarSync.ics">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Handlers">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <security>
      <requestFiltering>
        <verbs allowUnlisted="true">
          <remove verb="PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT"/>
          <add allowed="true" verb="PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT"/>
        </verbs>
        <requestLimits maxAllowedContentLength="1073741824"/>
      </requestFiltering>
    </security>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="70.00:00:00"/>
    </staticContent>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Main.aspx"/>
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="PageUnload.axd_*"/>
      <remove name="ChartImageHandler"/>
      <remove name="QR"/>
      <remove name="ICS"/>
      <remove name="CALENDAR"/>
      <remove name="VCF"/>
      <remove name="XLSX"/>
      <remove name="ExportDita.axd"/>
      <remove name="ExportIqy.axd_*"/>
      <remove name="ExportPivotXlsx"/>
      <remove name="ExportXlsx.axd_*"/>
      <remove name="ExportExcel.axd_*"/>
      <remove name="ExcelQuery.axd_*"/>
      <remove name="*.vcf_*"/>
      <remove name="*.ics_*"/>
      <remove name="GenInqExcelFile.axd_*"/>
      <remove name="GenInqExcelQuery.axd_*"/>
      <remove name="GenInqIqy.axd_*"/>
      <remove name="VersionedSoap"/>
      <remove name="Soap"/>
      <remove name="odatarelation"/>
      <remove name="odataentity"/>
      <remove name="odataset"/>
      <remove name="odata"/>
      <remove name="Api/Interface.asmx_*"/>
      <remove name="PX.ReportViewer.axd_*"/>
      <remove name="PX.ScriptBatch.axd_*"/>
      <remove name="QR.axd_GET"/>
      <remove name="Frames/CheckFileSize.ashx_*"/>
      <remove name="Frames/GetFile.ashx_*"/>
      <remove name="Frames/StreamGetter_"/>
      <remove name="App_Themes/GetCSS.aspx_*"/>
      <remove name="Frames/GetRSS.ashx_*"/>
      <remove name="SERVERWEBDAV"/>
      <remove name="MYWEBDAV"/>
      <add name="MYWEBDAV" path="Files" verb="GET,HEAD,POST,TRACE,OPTIONS,PROPFIND,PUT,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT"/>
      <add name="SERVERWEBDAV" path="*" verb="OPTIONS,PROPFIND,LOCK,UNLOCK,MOVE,COPY,PROPPATCH,MKCOL,DELETE,VERSIONCONTROL,REPORT"/>
      <add name="Frames/GetRSS.ashx_*" path="Frames/GetRSS.ashx" verb="*" type="PX.Data.Handlers.RSSGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="App_Themes/GetCSS.aspx_*" path="Frames/GetCSS.aspx" verb="*" type="PX.Data.Handlers.CSSGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="Frames/StreamGetter_" path="Frames/GetStream.ashx" verb="*" type="PX.Data.Handlers.StreamGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="Frames/GetFile.ashx_*" path="Frames/GetFile.ashx" verb="*" type="PX.Data.Handlers.FileGetter, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="Frames/CheckFileSize.ashx_*" path="Frames/CheckFileSize.ashx" verb="*" type="PX.Data.Handlers.FileSizeChecker, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="QR.axd_GET" path="QR.axd" verb="GET" type="PX.Web.UI.AssemblyResourceLoader, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="PX.ScriptBatch.axd_*" path="PX.ScriptBatch.axd" verb="*" type="PX.Web.UI.PXScriptLoader, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="PX.ReportViewer.axd_*" path="PX.ReportViewer.axd" verb="*" type="PX.Reports.Web.HttpHandler, PX.Reports, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="Api/Interface.asmx_*" path="Api/Interface.asmx" verb="*" type="PX.Api.ApiServiceFactoryRedirect, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="odata" path="odata" verb="*" type="PX.Api.OData.Routing.HttpRoutingHandler, PX.Api.OData, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="odataset" path="odata/*" verb="*" type="PX.Api.OData.Routing.HttpRoutingHandler, PX.Api.OData, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="odataentity" path="odata/*/*" verb="*" type="PX.Api.OData.Routing.HttpRoutingHandler, PX.Api.OData, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="odatarelation" path="odata/*/*/*" verb="*" type="PX.Api.OData.Routing.HttpRoutingHandler, PX.Api.OData, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="Soap" path="Soap/*.asmx" verb="*" type="PX.Api.Soap.HandlerFactory, PX.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="VersionedSoap" path="Soap/*/*.asmx" verb="*" type="PX.Api.Soap.HandlerFactory, PX.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="GenInqIqy.axd_*" path="GenInqIqy.axd" verb="*" type="PX.Export.PXExportHandlerIqy, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=null"/>
      <add name="GenInqExcelQuery.axd_*" path="GenInqExcelQuery.axd" verb="*" type="PX.Web.UI.PXGenInqExcelWebQueryHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=null"/>
      <add name="GenInqExcelFile.axd_*" path="GenInqExcelFile.axd" verb="*" type="PX.Web.UI.PXGenInqExcelFileHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=null"/>
      <add name="*.ics_*" path="*.ics" verb="GET" type="PX.Export.PXExportHandlerIcs, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="*.vcf_*" path="*.vcf" verb="GET" type="PX.Export.PXExportHandlerVcf, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExcelQuery.axd_*" path="ExcelQuery.axd" verb="*" type="PX.Web.UI.PXDefaultExcelQueryHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExportExcel.axd_*" path="ExportExcel.axd" verb="GET" type="PX.Web.UI.PXExportHandlerExcel, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExportXlsx.axd_*" path="ExportXlsx.axd" verb="GET" type="PX.Web.UI.PXGridExportXlsxHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExportPivotXlsx" path="ExportPXlsx.axd" verb="GET" type="PX.Web.UI.PXPivotExportXlsxHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExportIqy.axd_*" path="ExportIqy.axd" verb="GET" type="PX.Web.UI.PXGridExportIqyHandler, PX.Web.UI, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExportDita.axd" path="ExportDita.axd" verb="GET"/>
      <add name="XLSX" path="ExportExcel.axd" verb="GET"/>
      <add name="VCF" path="*.vcf" verb="GET"/>
      <add name="CALENDAR" path="calendarSync.ics" verb="*"/>
      <add name="ICS" path="ExportICS.axd" verb="GET"/>
      <add name="QR" path="QR.axd" verb="GET"/>
      <add name="ChartImageHandler" path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="PageUnload.axd_*" path="PageUnload.axd" verb="*" type="PX.Data.Handlers.PageUnloadHandler, PX.Data, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE" type="System.Web.Handlers.TransferRequestHandler"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="AuthManagerModule"/>
      <add name="AuthManagerModule" type="PX.Export.Authentication.AuthenticationManagerModule, PX.Export, Version=1.*, Culture=neutral, PublicKeyToken=3b136cac2f602b8e"/>
      <remove name="WebDAVModule"/>
    </modules>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" dynamicCompressionLevel="9"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="application/xslt+xml" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
  </system.webServer>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac.Integration.WebApi" publicKeyToken="17863af14b0044da" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>